#home {
  min-height: 80vh;
  max-width: 100%;
}
#homeIntro {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#homeProfile {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}
#profileIMG {
  margin-top: -15% !important;
  height: auto;
  width: 100%;
}
