#loadingPage {
  /* background-color: #f8f9fa; */
  min-height: 100vh;
  max-width: 100%;
  position: fixed;
  z-index: 99;
}
#loader {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#loaderText {
  color: #ff7b00;
}
