/* :root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #212529;
} */
.bg-mode-light {
  background-color: #f8f9fa;
}
.bg-mode-dark {
  background-color: #212529;
}
.text-mode-light {
  color: #f8f9fa;
}
.text-mode-dark {
  color: #212529;
}
.profileCard-light {
  background-color: rgb(223, 224, 225);
  box-shadow: rgba(198, 199, 200, 0.25) 0px 25px 50px -12px;
  height: fit-content;
  border-radius: 15px;
  padding-left: 3%;
  padding-right: 3%;
}
.profileCard-dark {
  background-color: rgb(30, 33, 37);
  box-shadow: rgba(26, 30, 33, 0.25) 0px 25px 50px -12px;
  height: fit-content;
  border-radius: 15px;
  padding-left: 3%;
  padding-right: 3%;
}

.test {
  color: red;
}
