:root {
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #212529; */
  overflow-x: hidden;
}

/* Background */
.bg-mode-light {
  background-color: #f8f9fa;
}
.bg-mode-dark {
  background-color: #212529;
}

/* Text */
.text-mode-light {
  color: #f8f9fa;
}
.text-mode-dark {
  color: #212529;
}

/* Profile-Card */
.profileCard-light {
  background-color: rgb(223, 224, 225);
  box-shadow: rgba(198, 199, 200, 0.25) 0px 25px 50px -12px;
  height: fit-content;
  border-radius: 15px;
  padding-left: 3%;
  padding-right: 3%;
}
.profileCard-dark {
  background-color: rgb(30, 33, 37);
  box-shadow: rgba(26, 30, 33, 0.25) 0px 25px 50px -12px;
  height: fit-content;
  border-radius: 15px;
  padding-left: 3%;
  padding-right: 3%;
}

/* Skill-Card */
.skillCard-light {
  background-color: rgb(223, 224, 225);
  box-shadow: rgba(198, 199, 200, 0.25) 0px 25px 50px -12px;
  height: fit-content;
  width: max-content;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}
.skillCard-dark {
  background-color: rgb(30, 33, 37);
  box-shadow: rgba(26, 30, 33, 0.25) 0px 25px 50px -12px;
  height: fit-content;
  width: max-content;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

/* Service-Card */
.serviceCard-light {
  background-color: rgb(223, 224, 225);
  box-shadow: rgba(198, 199, 200, 0.25) 0px 25px 50px -12px;
  min-height: 450px;
  width: 100%;
  border-radius: 15px;
}
.serviceCard-dark {
  background-color: rgb(30, 33, 37);
  box-shadow: rgba(26, 30, 33, 0.25) 0px 25px 50px -12px;
  min-height: 450px;
  width: 100%;
  border-radius: 15px;
}

/* Button */
.specialBTN {
  --bs-btn-color: #ff7b00;
  --bs-btn-border-color: #ff7b00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff7b00;
  --bs-btn-hover-border-color: #ff7b00;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff7b00;
  --bs-btn-active-border-color: #ff7b00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ff7b00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff7b00;
  --bs-gradient: none;
}
.specialBTN:hover .BTN_Link {
  color: #fff;
}
